body {
     background-color: #e1a103;
}

#clockdiv {
    color: #fff;
    display: inline-block;
    text-align: center;
}

#clockdiv>div {
    padding: 10px;
    display: inline-block;
}

#clockdiv div>span {
    font-size: 2.8rem;
    position: relative;
    left: 5rem;
    bottom: 1rem;
    font-family: 'Sue Ellen Francisco', cursive;
}

#clockdiv div>img {
    width: 12rem;
}

.smalltext {
    font-size: 3.2rem;
    margin-top: 1rem;
    position: relative;
    text-align: right;
    transform: rotate(-30deg) translate(1.5rem);
    font-family: 'Sue Ellen Francisco', cursive;
    letter-spacing: 0.4rem;
}

.profile_pic {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 32rem;
}

.input-group {
    width: 50rem;
    height: 4rem;
}

input[type="email"]::-webkit-input-placeholder {
    padding: 0rem;
    font-size: 2rem;
}

.emailForm {
    margin: 2rem 0 4rem;
}


@media only screen and (max-width: 823px) {

    .profile_pic {
        width: 24rem;
    }

    .profile_div {
        margin-top: 28rem;
    }

    .input-group {
        width: 25rem;
    }

    .notify_button {
        width: 1rem;
    }

    #clockdiv div {
        padding-right: 1rem;
    }

    #clockdiv div>img {
        width: 8rem;
    }

    #clockdiv div>span {
        font-size: 2.8rem;
        position: relative;
        left: 3rem;
        bottom: 1rem;
        font-family: 'Sue Ellen Francisco', cursive;
    }

}
